@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #f0f0f0;
  --color-bg-offset: #fff;
  --color-text: #212b36;
  --color-text-offset: #788692;
  --menu-bg: rgba(255, 255, 255, 0.5);
  --menu-shadow: rgba(31, 38, 135, 0.37);
}

html.dark {
  --color-bg: #000;
  --color-bg-offset: #191c24;
  --color-text: #fff;
  --color-text-offset: #6c7293;
  --menu-bg: rgba(25, 28, 36, 0.5);
  --menu-shadow: rgba(31, 38, 135, 0.37);
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: "Rubik", sans-serif; */
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background-color: var(--color-bg);
  transition: color 0.2s ease-in, background-color 0.2s ease-in;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

td,
th {
  padding: 1rem 0.5rem;
}

tr {
  border-bottom: 1px solid var(--color-text-offset);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--color-text-offset);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.darkModeToggle {
  --size: 1.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
  width: var(--size);
  height: var(--size);
  box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
  border-radius: 999px;
  color: #e6e6ff;
  transition: all 500ms;
}
.darkModeToggle:checked {
  --ray-size: calc(var(--size) * -0.4);
  --offset-orthogonal: calc(var(--size) * 0.65);
  --offset-diagonal: calc(var(--size) * 0.45);
  transform: scale(0.75);
  color: #ffaa00;
  box-shadow: inset 0 0 0 var(--size),
    calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size),
    var(--offset-orthogonal) 0 0 var(--ray-size),
    0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size),
    0 var(--offset-orthogonal) 0 var(--ray-size),
    calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0
      var(--ray-size),
    var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size),
    calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0 var(--ray-size),
    var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0 var(--ray-size);
}
