.numberBox {
  transition: transform 0.25s linear;
}

.numberBox:hover {
  transform: translateY(-4px);
}

.numberBoxIcon {
  background: var(--icon-bg);
  box-shadow: var(--icon-shadow)
}

.numberBoxTitle {
  color: var(--color-text-offset);
}
